{
  "openapi": "3.1.0",
  "info": {
    "title": "Kineo Video Handoff",
    "version": "1.2.1",
    "description": "Turns an approved Short script into a one-click Kineo Studio link. Call createKineoHandoff ONLY after the user has explicitly approved the final script. The response contains a URL (https://www.usekineo.com/go/<token>) that opens Kineo Studio pre-filled with the script, duration and engine. Kineo renders the film after the user clicks; this API never renders anything itself. Public, no authentication, rate-limited per IP."
  },
  "servers": [
    {
      "url": "https://www.usekineo.com"
    }
  ],
  "paths": {
    "/api/gpt/handoff": {
      "post": {
        "operationId": "createKineoHandoff",
        "summary": "Create a one-click Kineo Studio link from an approved script",
        "description": "Send the FINAL, user-approved script exactly as shown (HOOK / MICRO REWARD / ESCALATION / PAYOFF labels included). Call only after explicit approval, never on the first message, never twice per script. Show the returned url verbatim; never invent or alter a link. On error, explain in one sentence.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HandoffRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link created. Show `url` to the user verbatim and say it is valid for 7 days. Then ONE line about cost, conditioned on `durationSec` and `engineHint` in this response: if durationSec is 35 or 60 and engineHint is `seedance`, say the first film is free (25-credit trial, no card); if durationSec is 90, say a 90s film costs more than the free trial and needs a paid plan, and offer 60s as the free alternative without discouraging 90s; if engineHint is `hollywood`, `h3`, `omni` or `veo`, say that engine is on paid plans. Never claim a free film for 90s or for a premium engine. Then, about length, read `outcome.kind` — it is Kineo's real verdict, computed by the same rule the Studio applies before rendering: if it is `shorter_film`, quote `outcomeMessage` verbatim (it says the film will come out shorter than requested and nothing gets cut) and offer to extend the script and re-send; if it is `at_target`, say nothing about length. Never write your own estimate of the narration length, and never call the script short on your own: `outcomeMessage` is the only sentence to use about what the user will receive. `fitMessage` is the word-budget note for this engine's voice; quote it verbatim only if the user asks how the length was measured, never as a warning. If `overStudioLimit` is true, warn the user in one line that Kineo Studio accepts up to `studioLimitChars` characters and the script must be trimmed before rendering.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandoffResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected: missing or empty script, script over 5000 characters, HTML tags in the script or topic, invalid durationSec (must be 35, 60 or 90), invalid aspect (must be 9:16, 16:9, 1:1 or 4:5), unknown engineHint, malformed language code, topic over 200 characters, a body that is not JSON, or a script too short to fill durationSec (Kineo Studio would refuse it after sign-up, so it is refused here, where you can fix it in one turn — no link is created). Read `error` (it states the exact reason and, for length, the exact limit or the number of words to add; `outcome.missingWords` carries that number when present), fix the payload, and try again once. For a too-short script, either extend it with real beats to the words asked for, or re-send with a shorter durationSec the user agrees to. If the script is too long, trim the script — never truncate silently without telling the user. Never show a made-up link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached: either too many scripts from this connection in the last hour, or Kineo is receiving too many scripts globally. Tell the user: \"Too many requests right now, try again in a minute.\" Do not retry automatically and do not invent a link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Kineo could not save or process the script right now (temporary storage or server problem; the script was NOT stored and no link exists). Tell the user in one sentence that Kineo is temporarily unstable and ask them to try again in a minute. Do not retry automatically, never fabricate a link, and as a fallback offer that they can paste the script themselves at https://www.usekineo.com/studio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HandoffRequest": {
        "type": "object",
        "required": [
          "script"
        ],
        "additionalProperties": false,
        "properties": {
          "script": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000,
            "description": "The complete, user-approved narration script, plain text only (no HTML, no markdown headings), at most 5000 characters — the same limit Kineo Studio enforces; a 90s script is well under it. Keep the house structure on its own lines: `HOOK:`, `MICRO REWARD:`, `ESCALATION:`, `PAYOFF:`. Every sentence is spoken aloud by the narrator, so write only what should be heard: no stage directions, no camera notes, no visual descriptions, no [brackets]. Word budget depends on the engine, because the two families narrate at different speeds — never average them. Standard engines (`seedance`, `fast`, `kling`, `veo`): 100-115 words for 35s, 175-195 for 60s, 265-290 for 90s. Premium engines (`hollywood`, `h3`, `omni`) speak slower in their own native voice: 80-90 words for 35s, 150-165 for 60s, 205-230 for 90s. Slightly over the budget is good; under it is a defect (the story gets cut short). Only verifiable facts."
          },
          "durationSec": {
            "type": "integer",
            "enum": [
              35,
              60,
              90
            ],
            "default": 60,
            "description": "Target length of the film in seconds. Must match the duration the user chose BEFORE the script was written. Use 60 when the user has no preference. 35 = quick fact, 60 = standard Short (recommended, best for TikTok and YouTube Shorts), 90 = deeper story. Cost on the default engine: 35s and 60s fit the free 25-credit trial; 90s does not (it costs more than the trial) and needs a paid plan — say that in one line when the user picks 90 and has not paid, offer 60s, but do not talk them out of 90s."
          },
          "aspect": {
            "type": "string",
            "enum": [
              "9:16",
              "16:9",
              "1:1",
              "4:5"
            ],
            "default": "9:16",
            "description": "Frame of the video, chosen from the platform the user named — Kineo renders every frame natively (no cropping), so pick the one that fits where the video will be posted. 9:16 = vertical, for TikTok, Reels and YouTube Shorts (the default when the user asks for a Short, a TikTok, a Reel, or names no platform). 16:9 = widescreen, for regular YouTube videos, a website, or a display ad. 1:1 = square, for a square Facebook or Instagram post or ad. 4:5 = tall feed post, for the Instagram feed (takes up more of the screen than 1:1). If the user has not said where the video will be posted and it is not obvious, ASK in the same message where you ask for duration and topic — do not silently assume. Changing the frame does not change the price: every frame costs the same credits."
          },
          "engineHint": {
            "type": "string",
            "enum": [
              "seedance",
              "fast",
              "kling",
              "veo",
              "hollywood",
              "h3",
              "omni"
            ],
            "default": "seedance",
            "description": "Which Kineo video engine Studio should pre-select. Send `seedance` (Seedance 1.5, AI-generated cinematic scenes; the only engine where a 35s or 60s film fits the free trial) unless the user asks for something specific. `fast` = Kineo 1, real stock footage with narration, fastest and cheapest, good for news/facts/money topics. `kling` = Kling 2.5, more detailed AI scenes. `veo` = Veo 3.1, premium realism (paid plans). `hollywood` = Kling 3, top-tier cinematic (150 credits at 60s, paid plans). `h3` = MiniMax H3, stylized motion (paid plans). `omni` = Omni Flash, premium (paid plans). When in doubt, send `seedance`. Never send a value outside this list."
          },
          "language": {
            "type": "string",
            "default": "en",
            "pattern": "^[a-z]{2}(-[A-Z]{2})?$",
            "description": "Language of the script text as a short code: two lowercase letters, optionally followed by a hyphen and a two-letter UPPERCASE region, for example `en`, `es`, `pt`, `pt-BR`, `en-US`. Anything else is rejected with 400 (not `eng`, not `en-us`, not `zh-Hans`, not a language name). Must match the language the script is actually written in. Default `en`."
          },
          "topic": {
            "type": "string",
            "maxLength": 200,
            "description": "Short working title for the video, 3-8 words, no hashtags, plain text, at most 200 characters (e.g. `The Ship That Sank Twice`). Shown to the user on the landing page and used as the film title in Studio."
          }
        }
      },
      "HandoffResponse": {
        "type": "object",
        "required": [
          "url",
          "token",
          "expiresAt",
          "words",
          "seconds",
          "fit",
          "fitMessage",
          "outcome",
          "outcomeMessage",
          "durationSec",
          "engineHint",
          "aspect",
          "language",
          "overStudioLimit",
          "studioLimitChars"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "One-click link in the form https://www.usekineo.com/go/<token>. Show it to the user exactly as returned."
          },
          "token": {
            "type": "string",
            "description": "Opaque handoff token. Do not display; the url already contains it."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp after which the link stops working (7 days after creation). Tell the user the link is valid for 7 days."
          },
          "words": {
            "type": "integer",
            "description": "Spoken word count Kineo measured in the script (structure markers like HOOK/PAYOFF and [bracketed] directions are not counted)."
          },
          "seconds": {
            "type": "number",
            "description": "Estimated spoken length of the script in seconds at the narration pace of the chosen engine. Decimal number with one decimal place (for example 24.2), not an integer."
          },
          "fit": {
            "type": "string",
            "enum": [
              "short",
              "ok",
              "long"
            ],
            "description": "Informational word-budget reading against durationSec at this engine's narration pace (`short` = under the per-voice budget, `ok` = within it, `long` = well over it). This is NOT the verdict on what the user will receive: `outcome` is. Do not warn the user based on `fit`."
          },
          "fitMessage": {
            "type": "string",
            "description": "A ready-made English sentence explaining `fit` to the user, already calibrated with Kineo's narration pace for this engine and duration (for example: \"About 24s of narration for a 35s video — the story may end early. Adding a few lines helps; Kineo never stretches a short script.\"). When you comment on the length of the script, quote this sentence VERBATIM instead of writing your own; never recompute or paraphrase the seconds."
          },
          "outcome": {
            "type": "object",
            "required": [
              "kind",
              "effectiveSeconds",
              "requestedSeconds",
              "missingWords",
              "lost60sFloor"
            ],
            "description": "Kineo's real verdict for this script and duration, computed by the same rule the Studio applies before rendering. `kind`: `at_target` = the film comes out at durationSec; `shorter_film` = the narration does not fill durationSec, so Kineo will make a shorter film of `effectiveSeconds` seconds instead (nothing is cut). A script that is too short even for that is refused with HTTP 400 and never reaches this response.",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "at_target",
                  "shorter_film"
                ],
                "description": "`at_target` or `shorter_film` on a successful handoff. (`too_short` exists only inside the 400 error body.)"
              },
              "effectiveSeconds": {
                "type": "integer",
                "description": "Seconds of film the user will actually receive. Equals `requestedSeconds` when kind is `at_target`."
              },
              "requestedSeconds": {
                "type": "integer",
                "description": "The durationSec that was requested."
              },
              "missingWords": {
                "type": "integer",
                "description": "Words missing to fill `requestedSeconds`. 0 on a successful handoff."
              },
              "lost60sFloor": {
                "type": "boolean",
                "description": "True when 60 or 90 seconds were requested and the film will come out under 60 seconds — such films do not qualify for TikTok's Creator Rewards. `outcomeMessage` already says this when it applies."
              }
            }
          },
          "outcomeMessage": {
            "type": "string",
            "description": "The ready-made English sentence for `outcome` (for example: \"Ready for a 60-second film.\" or \"This script fills about 40 seconds, so Kineo will make it a 40-second film instead of 60. Nothing gets cut — the target shrinks to fit your script.\"). When `outcome.kind` is `shorter_film`, quote it VERBATIM and offer to extend the script; when `at_target`, say nothing about length."
          },
          "durationSec": {
            "type": "integer",
            "enum": [
              35,
              60,
              90
            ],
            "description": "The duration Kineo stored for this handoff. Use it to decide the cost line: 35 or 60 on `seedance` = first film free (25-credit trial); 90 = costs more than the free trial, needs a paid plan."
          },
          "engineHint": {
            "type": "string",
            "enum": [
              "seedance",
              "fast",
              "kling",
              "veo",
              "hollywood",
              "h3",
              "omni"
            ],
            "description": "The engine id Kineo stored for this handoff (aliases you sent, such as `Kling 3`, come back normalized)."
          },
          "aspect": {
            "type": "string",
            "enum": [
              "9:16",
              "16:9",
              "1:1",
              "4:5"
            ],
            "description": "The frame Kineo stored for this handoff and will render when the user clicks: 9:16 vertical (TikTok, Reels, YouTube Shorts), 16:9 widescreen (YouTube, website, display ads), 1:1 square (Facebook/Instagram post or ad), 4:5 tall feed post (Instagram feed). If it is not the frame the user asked for, tell them in one line which frame the link will render and offer to re-send with the right one; the frame never changes the price."
          },
          "language": {
            "type": "string",
            "description": "The language code Kineo stored for this handoff (for example `en`, `pt-BR`)."
          },
          "overStudioLimit": {
            "type": "boolean",
            "description": "True when the script is longer than what Kineo Studio accepts (`studioLimitChars`). If true, warn the user in one line that the script must be trimmed to `studioLimitChars` characters before it can render; the link still opens Studio."
          },
          "studioLimitChars": {
            "type": "integer",
            "description": "Maximum number of characters Kineo Studio accepts in a script (currently 5000). Quote this number when `overStudioLimit` is true."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable reason the request was rejected. Read it before deciding whether to retry."
          },
          "outcome": {
            "type": "object",
            "description": "Present only when a script was refused for being too short for durationSec (`kind` = `too_short`). `missingWords` is the number of spoken words to add so the script fills the requested duration; `requestedSeconds` is the duration that was asked for.",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "too_short"
                ]
              },
              "requestedSeconds": {
                "type": "integer"
              },
              "effectiveSeconds": {
                "type": "integer"
              },
              "missingWords": {
                "type": "integer"
              },
              "lost60sFloor": {
                "type": "boolean"
              }
            }
          }
        }
      }
    }
  }
}
